* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  border: 1px red double;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

button {
  padding: 15px 30px;
  margin: 10px auto;
}
.container {
  width: 850px;
  height: 850px;
  display: flex;

  border: 1px blue dotted;
  justify-content: space-around;
  align-items: flex-start;
}
.div-container {
  display: flex;
  flex: 1;
}

.div-box {
  border: 1px solid black;
  flex-wrap: wrap;
  flex: 1;
}

.colored {
  background-color: rgb(22, 123, 211);
}
