* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.div-container {
  display: flex;
}

.div-box {
  border: 1px solid black;
  min-width: 20px;
  min-height: 20px;
}

.colored {
  background-color: rgb(22, 123, 211);
}
